@media screen and (min-width: 992px) {
  #fonctionnement {
    padding: 48px 4% 80px 4%;
  }
  #fonctionnement .steps {
    display: flex;
    flex-direction: row;
  }
  #fonctionnement .steps .step {
    margin-left: 2%;
    margin-right: 2%;
  }
  #restaurant {
    padding: 40px 5% 55px 5%;
  }
  #restaurant .vignette {
    width: 20%;
  }
  footer .logo,
footer li {
    padding-left: 6%;
  }
  footer .logo {
    width: 210px;
  }
  /* ----- PAGEs RESTAURANTS ----- */
  .menu {
    padding-left: 4%;
    padding-right: 4%;
  }
  .menu .titre {
    margin-left: 2%;
    margin-right: 2%;
  }
  .menu .animation-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .menu .animation-menu .carte {
    width: 100%;
    margin-left: 2%;
    margin-right: 2%;
  }
}