@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Shrikhand&display=swap");
* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0px;
  background-color: #F6F6F6;
}

a {
  text-decoration: none;
}

h1 {
  font-family: "Shrikhand";
  text-align: center;
  font-size: 30px;
  margin: 0;
}

h2.roboto {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: bold;
}

p {
  font-size: 17px;
}

nav {
  background-color: white;
  padding: 15px 0 15px 0;
  box-shadow: 0 5px 5px rgba(53, 53, 53, 0.13);
}

form {
  display: flex;
  justify-content: center;
  align-items: stretch;
  background-color: #EAEAEA;
  box-shadow: inset 0px 13px 4px -10px rgba(53, 53, 53, 0.13);
  padding: 17.3px 0 19.3px 0;
}
form input {
  border: none;
  background-color: #EAEAEA;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
}

.intro {
  margin: 20px 30px 56px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.intro h2 {
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 0;
}
.intro .bouton {
  width: 217px;
  margin: auto;
}

footer {
  background-color: #353535;
  padding-top: 22px;
  padding-bottom: 9px;
  color: white;
}
footer .logo {
  width: 115px;
  padding-left: 20px;
  filter: invert(1);
}
footer a {
  color: white;
}
footer ul {
  padding: 0;
}
footer li {
  list-style-type: none;
  padding-left: 20px;
  padding-bottom: 10px;
}
footer .fa-solid {
  padding-right: 10px;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100%;
  padding: 15px 0 15px 0;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  font-weight: 700;
  color: white;
  background: linear-gradient(to top left, #9356DC, #FF79DA);
  box-shadow: 0 5px 5px rgba(53, 53, 53, 0.13);
  cursor: pointer;
}

#fonctionnement {
  background-color: white;
  padding: 28px 20px 43px 20px;
}
#fonctionnement .steps {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
#fonctionnement .number {
  background-color: #9356DC;
  color: white;
  padding: 4px 8px 2px 8px;
  border-radius: 100%;
  margin: -3%;
}
#fonctionnement a {
  width: 97%;
  height: 72px;
  background: linear-gradient(#F6F6F6, white);
  border-radius: 21px;
  box-shadow: 0 5px 5px rgba(53, 53, 53, 0.13);
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  color: black;
  font-size: 16px;
  font-weight: bold;
}
#fonctionnement a:hover {
  background: #F5EDFF;
}
#fonctionnement a:hover .fa-solid {
  color: #9356DC;
}
#fonctionnement .fa-solid,
#fonctionnement p {
  padding-left: 27px;
}