/* ----- Animation chargement ----- */
#load-spinner {
	position: fixed;
	z-index: 1;
	height: 100vh;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.3);
	display: flex;
	justify-content: center;
	align-items: center;
	animation: end-spinner 1.5s forwards;
}

.lds-dual-ring {
	display: inline-block;
	width: 80px;
	height: 80px;
}
.lds-dual-ring:after {
	content: " ";
	display: block;
	width: 64px;
	height: 64px;
	margin: 8px;
	border-radius: 50%;
	border: 12px solid #fff;
	border-color: $primary-color transparent $tertiary-color transparent;
	animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
	0% {
	transform: rotate(0deg);
	}
	100% {
	transform: rotate(360deg);
	}
}

@keyframes end-spinner {
    0% {
        visibility: visible;
        opacity: 0.9;
    }
    70% {
        opacity: 0.9;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

/* ----- Animation coeurs ----- */
@keyframes heart-animation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
// @keyframes heart-animation-fill {
//     0% {
//         opacity: 0;
//     }
//     100% {
//         opacity: 1;
//         color: $secondary-color;
//     }
// }

// @keyframes heart-animation-empty {
//     0% {
//         opacity: 1;
//     }
//     100% {
//         opacity: 0;
//     }
// }