button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    padding: 15px 0 15px 0;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    font-weight: 700;
    color: white;
    background: linear-gradient(to top left, $primary-color, $secondary-color);
    box-shadow: 0 5px 5px $color-shadow;
    cursor: pointer;
    transition: transform 200ms;


    &:hover {
        animation: btn-transition 0.5s forwards;
    }
}

.menu {
    button {
        width: 190px;
        margin-top: 33px;
    }
}