#fonctionnement {
    background-color: white;
    padding: 28px 20px 43px 20px;

    .steps {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .number {
        background-color: $primary-color;
        color: white;
        padding: 4px 8px 2px 8px;
        border-radius: 100%;
        margin: -10px;
    }

    a {
        width: 97%;
        height: 72px;
        background: linear-gradient($background-color-1, white);
        border-radius: 21px;
        box-shadow: 0 5px 5px $color-shadow;
        display: flex;
        align-items: center;
        margin-bottom: 25px;
        color: black;
        font-size: 16px;
        font-weight: bold;
    }

    a:hover {
        background: $primary-color-pale;

        .fa-solid {
            color: $primary-color;
        }

        animation: bg-steps 0.5s forwards;

    }

    .fa-solid,
    p {
        padding-left: 27px;
    }
}

#restaurant {
    padding: 53px 20px 46px 20px;

    a {
        position: relative;
        color: black;
    }

    .vignette {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        width: 100%;
        height: 251px;
        background-color: white;
        border-radius: 14px;
        margin-bottom: 18px;
        box-shadow: 0 5px 5px $color-shadow;

        .picture {
            height: 174px;
            object-fit: cover;
            border-radius: 14px 14px 0 0;
        }

        h5 {
            margin: 16px 16px 0 16px;
        }

        p {
            margin: 4px 16px 16px 16px;
        }

        .new {
            font-size: 14px;
            color: $tertiary-color-darker;
            background-color: $tertiary-color;
            padding: 8px 11px 6px 13px;
            border-radius: 3px;
            box-shadow: 0 5px 5px $color-shadow;
            position: absolute;
            right: 20px;
            top: 13px;
            margin: 0;

        }

        .icon-heart {
            display: flex;
            justify-content: flex-end;
            margin-top: -55px;
            padding-right: 22px;
            font-size: 21px;

            .fa-regular {
                margin-right: -22px;
            }

            .fa-solid {
                color: transparent;
            }

            &:hover {
                .fa-regular {
                    color: transparent;
                }

                .fa-solid {
                    color: transparent;
                    background: linear-gradient(120deg, $secondary-color, $primary-color);
                    background-clip: text;
                    -webkit-background-clip: text;
                }

                i {
                    animation: animation-heart 2s forwards;
                }
            }
        }
    }
}

/* ----- PAGES RESTAURANTS ----- */
.menu {
    padding: 27px 20px 78px 20px;
    background-color: $background-color-1;
    border-radius: 40px 40px 0 0;
    margin-top: -50px;
    position: relative;
    display: flex;
    flex-direction: column;

    .titre {
        .icon-heart {
            display: flex;
            justify-content: flex-end;
            margin-top: -50px;
            padding-right: 22px;
            font-size: 21px;
            vertical-align: baseline;

            .fa-regular {
                margin-right: -22px;
            }

            .fa-solid {
                color: transparent;
            }

            &:hover {
                .fa-regular {
                    color: transparent;
                }

                .fa-solid {
                    color: transparent;
                    background: linear-gradient(120deg, $secondary-color, $primary-color);
                    background-clip: text;
                    -webkit-background-clip: text;
                }

                i {
                    animation: animation-heart 2s forwards;
                }
            }
        }
    }

    .titre-underline {
        display: block;
        border-bottom: 3px solid $tertiary-color;
        width: 38px;
        margin-bottom: 15px;
    }

    .card {
        display: flex;
        justify-content: space-between;
        background-color: white;
        border-radius: 21px;
        box-shadow: 0 5px 5px $color-shadow;
        color: black;
        width: 100%;
        height: 70px;
        margin-bottom: 15px;
        overflow: hidden;

        .card-contenu {
            display: flex;
            flex-direction: column;
            padding: 15px 15px 15px 13px;
            width: 100%;
        }

        h5 {
            font-size: 17px;
            margin: 0;
            margin-bottom: 5px;
        }

        .details {
            display: flex;
            justify-content: space-between;

            p {
                font-size: 15px;
                margin: 0;
            }

            .no-overflow {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            .prix {
                align-items: flex-end;
            }
        }

        .animation-check {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 0%; // Au survol = 20%
            max-width: 70px;
            background-color: $tertiary-color;
            border-radius: 0 21px 21px 0;
            overflow: hidden;
            transition: all 0.5s;

            i {
                font-size: 25px;
                color: white;
            }
        }

        &:hover {
            .card-contenu {
                transition: all 0.7s;
                width: 80%;
            }

            .animation-check {
                transition: all 1s;
                width: 20%;

                i {
                    animation: checkRotate 0.5s 0.1s;
                }
            }
        }
    }
}