.fonctionnement {
    background-color: white;
    padding: 28px 20px 43px 20px;

    .steps {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .number {
        background-color: $primary-color;
        color: white;
        padding: 4px 8px 2px 8px;
        border-radius: 100%;
        margin: -3%;
    }

    a {
        width: 97%;
        height: 72px;
        background: linear-gradient($background-color-1, white);
        border-radius: 21px;
        box-shadow: 0 5px 5px $color-shadow;
        display: flex;
        align-items: center;
        margin-bottom: 25px;
        color: black;
        font-size: 16px;
        font-weight: bold;
    }

    .fa-solid,
    p {
        padding-left: 27px;
    }
}