@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Shrikhand&display=swap');

h1 {
    font-family: "Shrikhand";
    text-align: center;
    font-size: 30px;
    margin: 0;
}

h2.roboto {
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    font-weight: bold;
}

h2.shrikhand {
    font-family: "Shrikhand";
    font-size: 28px;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-size: 16px; 
  text-transform: uppercase;
  margin-bottom: 5px;
}

h5 {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: bold;
}

p {
    font-size: 17px;
}