@media screen and (min-width: 992px) {
    #fonctionnement {
        padding: 48px 4% 80px 4%;

        .steps {
            display: flex;
            flex-direction: row;

            .step {
                margin-left: 2%;
                margin-right: 2%;
            }
        }
    }

    #restaurant {
        padding: 40px 5% 55px 5%;

        .vignette {
            width: 20%;
        }
    }

    footer {

        .logo,
        li {
            padding-left: 6%;
        }

        .logo {
            width: 210px;
        }
    }

    /* ----- PAGEs RESTAURANTS ----- */
    .menu {
        padding-left: 4%;
        padding-right: 4%;

        .titre {
            margin-left: 2%;
            margin-right: 2%;
        }

        .animation-menu {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .carte {
                width: 100%;
                margin-left: 2%;
                margin-right: 2%;
            }
        }
    }

}