@media screen and (min-width: 992px) {
    #fonctionnement {
        padding: 48px 5% 80px 5%;

        .steps {
            display: flex;
            flex-direction: row;

            .step {
                margin-left: 2%;
                margin-right: 2%;
            }
        }
    }

    #restaurant {
        padding: 40px 5% 55px 5%;

        .vignette {
            width: 20%;
        }
    }

    footer {
        .logo, li {
            padding-left: 6%;
        }

        .logo {
            width: 210px;
        }
    }
}