@media screen and (min-width: 768px) {
    h2.roboto {
        margin-bottom: 30px;
    }

    #fonctionnement {
        padding: 48px 30% 68px 30%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .steps {
            width: 100%;
        }

        a {
            width: 100%;
        }
    }

    #restaurant {
        padding: 40px 35px 40px 35px;

        .choix {
            display: flex;
            flex-wrap: wrap;
        }

        .vignette {
            width: 45%;
            margin-left: 11px;
            margin-right: 11px;
        }
    }

    footer {

        .logo,
        li {
            padding-left: 46px;
        }

        .logo {
            width: 150px;
        }
    }
}